@font-face {
   font-family: 'gt-walsheim-regular-webfont';
   font-display: swap;
   src: url('file:///C:/Users/jlewis/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-02-15_101909/fonts/gt-walsheim-regular-webfont/font.woff');
}
