@font-face {
   font-family: 'GT-Walsheim-Regular';
   font-display: swap;
   src: url('file:///C:/Users/jlewis/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-02-15_101909/fonts/GT-Walsheim-Regular/font.ttf');
}
